:root {
  --main-color: #80004a;
  --secondary-color: #ffebeb;
  --gray-color: #f6f8fc;
  --body-fonts-color: #27364b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--gray-color);
}

.hero {
  width: 100%;
  padding: 30px 0 80px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1156px;
  margin: 0 auto;
}

.hero__left {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 566px;
  width: 45%;
  gap: 20px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.hero__buttons a {
  flex: 1 1 auto;
}
.hero__title {
  font: bold 42px/58px 'Inter';
  color: var(--main-color);
}

.hero__text {
  color: var(--body-fonts-color);
  font: normal 16px/24px 'Inter';
}

.hero__image {
  width: 45%;
  max-width: 557px;
}

.linea {
  width: 100%;
  padding: 80px 0;
}

.linea__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  max-width: 1156px;
  margin: 0 auto;
}
.linea__container img {
  flex: 1 1 auto;
  width: 45%;
}
.linea__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 1 auto;
  max-width: 554px;
  width: 45%;
}
.linea__title {
  color: var(--main-color);
  font: bold 32px/40px 'Inter';
  text-align: center;
}
.linea__info p {
  color: var(--body-fonts-color);
  font: normal 16px/24px 'Inter';
}

.linea:nth-child(2n) {
  background-color: var(--secondary-color);
}
.calculadora__container {
  width: 90%;
  max-width: 1156px;
  margin: 0 auto;
}
.header {
  width: 90%;
  max-width: 1156px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.header__title {
  font: bold 20px/30px 'Inter';
  color: var(--main-color);
  text-decoration: none;
}
.navbar {
  display: flex;
  list-style: none;
  gap: 10px;
}

.navbar li a {
  text-decoration: none;
  font: normal 14px/22px 'Inter';
  color: var(--body-fonts-color);
}

.micro {
  width: 90%;
  max-width: 1156px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  justify-items: center;
  padding: 20px 0;
}
.micro__title {
  color: var(--main-color);
  width: 100%;
  text-align: start;
}
.micro__instructions {
  color: var(--body-fonts-color);
  font: normal 16px/24px 'Inter';
}
.micro__data {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.micro__input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.micro__buttons {
  display: flex;
  margin-top: 20px;
  width: 100%;
  gap: 18px;
}
.micro__buttons button {
  flex: 1 1 auto;
}
.micro__input input {
  width: 70px;
  padding: 5px;
}
.micro__input select {
  padding: 5px;
  width: 120px;
}
.micro__input div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid #fff;
  font: 600 16px/24px 'Inter';
  text-align: center;
}
.btn.btn-primary {
  background-color: var(--main-color);
  color: white;
  border: 2px solid var(--main-color);
}

.btn.btn-secondary {
  color: var(--main-color);
  background: none;
  border-color: var(--main-color);
}
.btn.w-full {
  width: 100%;
}

@media (max-width: 768px) {
  .hero__container {
    flex-direction: column;
    gap: 50px;
  }
  .hero__left {
    width: 100%;
  }
  .hero__image {
    width: 90%;
  }
  .hero__buttons {
    justify-content: space-between;
  }
  .linea__container {
    flex-direction: column;
  }
  .linea__container img {
    width: 100%;
  }
  .linea__info {
    width: 100%;
  }
  .micro__input {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .micro__buttons {
    flex-direction: column;
    gap: 10px;
  }
}
